:root {
  --ff-primary: "Inter", sans-serif;
  --lh-medium: 1.5;

  --clr-light: rgb(255, 255, 255);
  --clr-accent: rgb(238, 93, 4);
  --clr-dark: rgba(0, 0, 0, 0.884);
  --clr-message: red;

  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fs-footer: 0.75rem;
}
@media (max-width: 1000px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
    --fs-footer: 1rem;
  }
}

body,
html {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: var(--lh-medium);
}
.message {
  color: var(--clr-message);
}

.scale {
  transform: scale(1);
  transition: transform 0.2s;
}
.scale:hover {
  transform: scale(1.1);
}

.home,
.schedule,
.photos,
.auction,
.standings {
  margin: 20px auto;
  width: 85%;
}
.photos,
.auction {
  background: var(--clr-dark);
}
.home__welcome_section {
  margin: 0 auto;
  background-image: url("./Images/home.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__welcome_title,
.home__details_title {
  color: var(--clr-light);
  font-size: var(--fs-h1);
  text-align: center;
  margin: 0 auto;
}
.home__welcome_title {
  padding-top: 100px;
}
.home__details_section {
  background-color: var(--clr-dark);
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  font-size: var(--fs-body);
}
.home__details_title {
  grid-column: 1/3;
  grid-row: 1/2;
}
.home__subtitle_details,
.home__subtitle_bonus {
  position: static;
  height: auto;
  color: var(--clr-light);
  font-size: var(--fs-h3);
  align-self: center;
}
.home__subtitle_details {
  background: linear-gradient(90deg, var(--clr-accent) 0%, rgb(82, 82, 82) 90%);
  padding-left: 38%;
  margin-left: 2%;
}
.home__subtitle_bonus {
  background: linear-gradient(90deg, rgb(82, 82, 82) 0%, var(--clr-accent) 90%);
  margin-right: 2%;
  padding-left: 20%;
}

.home__info {
  color: var(--clr-light);
  grid-column: 1/2;
  grid-row: 2/3;
}
.home__details_list {
  margin-left: 40%;
}
.home__bonus_list {
  margin-left: 20%;
}

.home__bonus {
  color: var(--clr-light);
  grid-column: 2/3;
  grid-row: 2/3;
}
.home__bonus_points,
.home__detail_points {
  list-style-type: none;
}
.home__details_img {
  position: relative;
  grid-area: img;
  width: 32%;
  height: auto;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: left;
  padding-left: 5%;
}

.schedule__title {
  text-align: center;
}
.schedule__table,
.schedule__table_data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.schedule__data,
.schedule__table_heading {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-top: var(--clr-accent) solid 1px;
}
.photos__album {
  padding: 10px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}
.Photos__title {
  text-align: center;
  color: var(--clr-accent);
}
img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.auction__title {
  color: var(--clr-accent);
  text-align: center;
}

.carousel .carousel__item,
.carousel .carousel__item-hidden {
  display: none;
}

.carousel .carousel__item-visible {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  color: var(--clr-light);
}
.carousel__img,
.carousel__desc {
  width: 100%;
  text-align: center;
  grid-row: 1/2;
}

.carousel__img {
  grid-column: 1/2;
  padding: 10px;
}

.carousel__desc {
  grid-column: 2/3;
  width: 90%;
  min-width: 200px;
}

.carousel .carousel__item img {
  max-width: 300px;
  width: 90%;
  max-height: 400px;
  height: auto;
}

.carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
}

.carousel__button-prev,
.carousel__button-next {
  border-radius: 50px;
  background-color: white;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.carousel__button-prev {
  margin-left: 5%;
}

.carousel__button-next {
  margin-right: 5%;
}

.standings__title {
  text-align: center;
}
.standings__table,
.standings__table_data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.standings__data,
.standings__table_heading {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-top: var(--clr-accent) solid 1px;
}

.nav {
  background-color: var(--clr-accent);
  position: fixed;
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav-open .nav {
  transform: translateX(0);
}
.nav__list {
  margin-top: 100px;
  list-style: none;
  line-height: 70px;
}
.nav__link,
.nav__reg {
  color: var(--clr-light);
  text-decoration: none;
  font-size: var(--fs-h3);
}

.nav__link:visited {
  color: var(--clr-light);
}
.nav__link:hover,
.nav__reg:hover {
  color: var(--clr-dark);
  cursor: pointer;
}

.header {
  background: var(--clr-accent);
  background: linear-gradient(
    90deg,
    var(--clr-accent) 0%,
    var(--clr-light) 90%
  );
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.header__toggleMenu {
  width: 50px;
  height: 40px;
  position: fixed;
  top: 6%;
  left: 2%;
  z-index: 1000;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.header__hamburger {
  display: block;
  position: relative;
}

.header__hamburger,
.header__hamburger::before,
.header__hamburger::after {
  background: var(--clr-dark);
  width: 3em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.header__hamburger::before,
.header__hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.header__hamburger::before {
  top: 6px;
}
.header__hamburger::after {
  bottom: 6px;
}
.nav-open .header__hamburger {
  transform: rotate(0.625turn);
}

.nav-open .header__hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .header__hamburger::after {
  opacity: 0;
}

.header__title {
  color: var(--clr-dark);
  grid-column: 2/3;
  text-align: center;
  font-size: var(--fs-h1);
}
.header__logo {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
}

.footer {
  background: var(--clr-accent);
  background: linear-gradient(
    90deg,
    var(--clr-accent) 0%,
    var(--clr-light) 94%
  );
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-bottom: 30px;
}

.footer__contact {
  grid-column: 1/2;
  margin: 0 auto;
  font-size: var(--fs-footer);
  align-self: center;
}
.footer__contact__info {
  margin: 5px;
}
.footer__register {
  grid-column: 2/3;
  margin: 0 auto;
  font-size: var(--fs-footer);
  text-align: center;
  align-self: center;
  width: 100%;
}

.footer__RegBtn,
.carousel__Bidbtn,
.regForm__btn,
.auctionForm__btn {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  word-spacing: 2px;
  font-size: var(--fs-body);
  height: 30px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.footer__socialMedia {
  grid-column: 3/4;
  margin: 0 auto;
  font-size: var(--fs-footer);
  align-self: center;
}
.footer__link {
  font-size: 50px;
  padding: 10px;
  color: var(--clr-accent);
}
.regForm {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 39%;
  right: 0;
  border: var(--clr-accent) 10px solid;
  background: var(--clr-light);
  min-width: 250px;
  max-width: 350px;
  height: 600px;
  transform: scale(0.00001);
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.regForm-open .regForm {
  transform: scale(1);
}

.regFrom__label {
  width: 90%;
  margin: 20px;
}
.regForm__input {
  width: 90%;
  margin-bottom: 10px;
}
.regForm__exit {
  background: var(--clr-accent);
  position: relative;
  top: 10px;
  left: 120px;
}
.auctionForm {
  margin: 0 auto;
  background-color: var(--clr-light);
  border: var(--clr-accent) 10px solid;
  color: var(--clr-dark);
  width: 300px;
  z-index: 1;
  transform: scale(0.00001);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.auctionForm__open .auctionForm {
  transform: scale(1);
}
@media (max-width: 800px) {
  .home__details_section {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
  }
  .home__details_title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .home__info {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .home__bonus {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .home__details_img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .footer__contact {
    grid-column: 1/2;
    grid-row: 2/3;
    border-bottom: var(--clr-dark) solid 1px;
  }

  .footer__register {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: var(--clr-dark) solid 1px;
    padding-bottom: 10px;
  }

  .footer__socialMedia {
    grid-column: 1/2;
    grid-row: 3/4;
    border-bottom: var(--clr-dark) solid 1px;
  }
  .header__toggleMenu {
    background-color: var(--clr-accent);
  }
  .wide {
    grid-column: span 1;
  }

  .tall {
    grid-row: span 1;
  }

  .big {
    grid-column: span 1;
    grid-row: span 1;
  }
  .carousel .carousel__item-visible {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .carousel__img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .carousel__desc {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .regForm {
    left: 26%;
  }
}
@media (max-width: 480px) {
  .home__details_section {
    display: block;
  }
  .home__subtitle_details,
  .home__subtitle_bonus,
  .home__details_list,
  .home__bonus_list {
    margin: 0 auto;
  }

  .home__details_img {
    width: 80%;
    height: auto;
    padding-left: 10%;
  }
  .regForm {
    left: 5%;
    height: 650px;
  }
}
